* {
	margin:  0;
	padding: 0;
	border:  0;
	box-sizing: border-box;
}

body, .body {
	font-family: "Montserrat", sans-serif;
}
h1, h2, h3,
.h1, .h1, .h3 {
	font-family: "Roboto", sans-serif;
}

#app {
	height: 100%;
	width: 100%;
}